POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=bomi
POSTGRES_USER=bomi
POSTGRES_PASSWORD=change-me

MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_ENABLED=false
MQTT_CLIENT_ID_PREFIX=bomi-backend
MQTT_USERNAME=change-me
MQTT_PASSWORD=change-me

BACKEND_PORT=8080
FRONTEND_PORT=5173

